.form{
    display: flex;
    flex-direction: column;
}

.elaveBox{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid #000;
    padding:3%;
    border-radius:20px;
}

.form{
    margin-top:1%;
}

.inp{
    border:1px solid #000;
    border-radius:5px;
    height: 20px;
}

.btn{
    width: 50%;
    height: 30px;
    margin-top:20px;
    background-color: #0d00c5;
    border:none;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    transition: calc(0.5s);
}

.btn:hover{
    background-color: #fff;
    border:1px solid #c4c4c4;
    color:#0d00c5;
    width: 100%;
}

.btnBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 390px){
    
}
@media (min-width: 391px) and (max-width: 500px){}
@media (min-width: 501px) and (max-width: 768px){}